.top-header {
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 5px 5px;
    background-color: #08c;
    font-family: 'Times New Roman';
    display: flex;
}

li {
    display: inline;
    color: white;

}

li a {
    text-decoration: none;
    color: white;
}